* {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", sans-serif;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

@import"sections/_assets.scss";
@import"sections/_header.scss";
@import"sections/_promo.scss";
@import"sections/_about.scss";
@import"sections/_services.scss";
@import"sections/_doctors.scss";
@import"sections/_reviews.scss";
@import"sections/_gallery.scss";
@import"sections/_consultation.scss";
@import"sections/_contacts.scss";
@import"sections/_footer.scss";
@import"sections/_sub-page.scss";
@import"sections/_prices.scss";
@import"sections/_breadcrumbs.scss";
@import"sections/_privacypolicy.scss";