.contacts {
  padding-bottom: 40px;
  @media (min-width: $laptop) {
    padding-bottom: 80px;
  }
  &__contacts {
    background-color: $primary-color;
    padding: 20px 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    > div:not(:last-child) {
      margin-bottom: 15px;
    }
    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      > div:not(:last-child) {
        margin-bottom: 0;
      }
    }
    @media (min-width: $laptop) {
      padding: 25px 50px;
    }
  }

  &__info {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    margin-left: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    @media (min-width: $tablet) {
      width: 300px;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    color: $primary-color;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-location-1-svgrepo-com-1 {
      font-size: 25px;
    }
  }

  &__map {
    img {
      width: 100%;
      @media (max-width: $tablet) {
        height: 100px;
        object-fit: cover;
      }
    }
  }
}