.gallery {
  background-color: $background-primary-light-color;
  padding: 25px 0;
  position: relative;
  @media (min-width: $tablet) {
    padding: 0;
  }

  &__prev {
    position: absolute;
    bottom: 10px;
    right: 70px;
    z-index: 2;
  }

  &__wrapper {
    @media (min-width: $tablet) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }

    @media (min-width: $laptop) {
      padding: 0 0 0 10px;
    }
  }

  &__gallery {
    @media (min-width: $tablet) {
      width: 51%;
      background-color: #fff;
    }
  }

  &__next {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  &__nav {
    margin: 8px -5px 0;
    img {
      border-radius: 10px;
      height: 80px !important;
      object-fit: cover;
      @media (min-width: $laptop) {
        height: 170px !important;
      }
    }

    .slick-slide {
      margin: 0 5px;
      cursor: pointer;
    }
  }

  &__info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width: $laptop) {
      margin-top: 0;
      margin-right: 87px;
      width: 42%;
      padding: 0 0 0 70px;
    }
  }

  &__heading {
    font-size: 26px;
    color: $dark-text-color;
    margin-bottom: 15px;
    @media (min-width: $laptop) {
      font-size: 35px;
      margin-bottom: 20px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 19px;
    color: $dark-text-color;
    margin-bottom: 15px;
    @media (min-width: $laptop) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }

  &__container {
    @media (min-width: $laptop) {
      height: 100%;
    }
  }

  &__awarded {
    position: absolute;
    left: 4px;
    top: -11px;
    z-index: 2;
    @media (min-width: $laptop) {
      left: 343px;
      top: -77px;
    }
  }
}