.services {
  padding: 25px 0;
  @media (min-width: $laptop) {
    padding: 80px 0;
  }
  &__heading {
    font-size: 26px;
    font-weight: 600;
    color: $dark-text-color;
    @media (min-width: $laptop) {
      font-size: 35px;
    }
  }

  &__wrapper {
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    @media (max-width: $tablet) {
      margin-bottom: 25px;
    }
    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $laptop) {
      padding-top: 38px;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 28px;
    }
  }

  &__service {
    img {
      width: 100%;
      max-height: 156px;
      object-fit: cover;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  &__text {
    padding: 20px 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(131, 131, 131, 0.15);
    -moz-box-shadow: 8px 8px 24px 0px rgba(131, 131, 131, 0.15);
    box-shadow: 8px 8px 24px 0px rgba(131, 131, 131, 0.15);
  }

  &__name {
    font-size: 20px;
    margin-bottom: 10px;
    color: $dark-text-color;
    font-weight: 600;
    display: block;
  }

  &__descr {
    font-size: 14px;
    line-height: 17px;
    color: $dark-text-color;
  }

  &__button {
    min-width: 200px;
    margin: 0 auto;
  }
}