.services {
  padding: 25px 0;
  @media (min-width: $laptop) {
    padding: 80px 0;
  }
  &__heading {
    font-size: 26px;
    font-weight: 600;
    color: $dark-text-color;
    @media (min-width: $laptop) {
      font-size: 35px;
    }
  }

  &__wrapper {
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    @media (max-width: $tablet) {
      margin-bottom: 25px;
    }
    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $laptop) {
      padding-top: 38px;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 28px;
    }
  }

  &__image {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__service {
    position: relative;
    img {
      width: 100%;
      max-height: 156px;
      object-fit: cover;
      transition: 0.3s transform;
    }
    @media (min-width: $laptop) {
      cursor: pointer;
      &:hover {
        .services__additional {
          display: block;
          box-shadow: 8px 24px 24px 0px rgba(131,131,131,.15);
        }

        img {
          transform: scale(1.2);
        }
      }
    }
  }

  &__text {
    padding: 20px 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(131, 131, 131, 0.15);
    -moz-box-shadow: 8px 8px 24px 0px rgba(131, 131, 131, 0.15);
    box-shadow: 8px 8px 24px 0px rgba(131, 131, 131, 0.15);
  }

  &__name {
    font-size: 20px;
    color: $dark-text-color;
    font-weight: 600;
    display: block;
    @media (max-width: $laptop) {
      margin-bottom: 10px;
    }
  }

  &__descr {
    font-size: 14px;
    line-height: 17px;
    color: $dark-text-color;
    padding-left: 15px;
    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__additional {
    @media (min-width: $laptop) {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      background-color: #fff;
      z-index: 2;
      padding: 20px 15px;
      border-radius: 10px;
    }
  }

  &__button {
    min-width: 200px;
    margin: 0 auto;
  }
}