.sub-page {
  .header {
    background-image: url('../images/header__bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;

    &__inner {
      padding: 15px 0;
    }
  }

  .bredcrumbs {
    padding-top: 80px;
    margin-bottom: 15px;
    @media (min-width: $laptop) {
      padding-top: 100px;
    }
  }
}